body {
  background-color: black;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Orbitron";
  .container {
    width: 25rem;
    height: auto;
    position: absolute;
    top: center;
    left: center;
    p {
      font-size: 4rem;
      color: rgb(255, 255, 255);
      text-shadow: 0 0 5px rgb(255, 255, 255);
    }
  }
  // Screen: medium
  @media only screen and (max-width: 700px) {
    .container {
      width: 20rem;
      p {
        font-size: 3rem;
        text-shadow: 0 0 4px rgb(255, 255, 255);
      }
    }
  }

  // Screen: small
  @media screen and (max-width: 480px) {
    .container {
      width: 14rem;
      p {
        font-size: 2rem;
        text-shadow: 0 0 3px rgb(255, 255, 255);
      }
    }
  }
}
